<div class="container mt-5">
  <% if(errors !== '') {%> <% for (let index=0; index < errors.length; index++)
  { %>
  <div class="alert alert-danger" role="alert">
    <%= errors[index].inputan%>,<b> <%= errors[index].msg %> </b>
  </div>
  <% } %> <% } %>
  <h1>Update Data Contact</h1>
  <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 50rem">
    <div class="card-body">
      <form action="/<%= contact.name %>" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name</span>
          <input
            value="<%=Errorname.inputan || contact.name %>"
            name="name"
            type="text"
            class="form-control"
            placeholder="Masukkan Name"
            aria-label="Masukkan Name"
            aria-describedby="basic-addon1"
            required
          />
        </div>
        <div class="input-group mb-3">
          <input
            value="<%=Erroremail.inputan || contact.email%>"
            name="email"
            type="text"
            class="form-control"
            placeholder="Masukkan Email"
            aria-label="Masukkan Email"
            aria-describedby="basic-addon2"
            required
          />
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">+62</span>
          <input
            value="<%=Errormobile.inputan || contact.mobile%>"
            name="mobile"
            type="text"
            class="form-control"
            placeholder="Mobile Phone Number"
            aria-label="Mobile Phone Number"
            aria-describedby="basic-addon1"
            required
          />
        </div>

        <div class="input-group mb-3">
          <div class="m-1">
            <button class="btn btn-primary">
              <i class="bi bi-send-fill"></i> Send Data
            </button>
          </div>
          <div class="m-1">
            <a href="/contact" class="btn btn-dark">
              <i class="bi bi-arrow-left-circle-fill"></i> Kembali
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
